doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Virtual Reality

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Virtual Reality

      section
        h2 Disusun Oleh
        h3
        ul
          li Jonatan G. Siallagan
          li Mahfuza Purba
          li Satiah Sungkar
          
      section
        h2 Sejarah Virtual Reality
        p Akhir tahun 1980 istilah “Virtual Reality” telah dipopulerkan oleh Jaron Lanier, salah satu pelopor modern dari bidang tersebut. Lanier yang telah mendirikan perusahaan VPL Riset pada tahun 1985, telah mengembangkan dan membangun sistem “kacamata hitam dan sarung tangan” yang terkenal pada masa itu.

      section
        h2 Pengertian Virtual Reality
        h3 Virtual reality atau yang disebut dengan realitas maya adalah teknologi yang memungkinkan pengguna bisa berinteraksi terhadap objek nyata yang disimulasikan menggunakan komputer. 

      section
        h3 Virtual memory sebenarnya adalah lingkungan atau objek yang hanya ada dalam imajinasi yang mempu membangkitkan suasana 3 dimensi sehingga membuat pengguna seolah-olah terlibat secara fisik.

      section
        h3 Contoh Aplikasi Virtual Reality
        ul
        li Simulasi latihan perang
        li Simulasi latihan terjun payung
        li Simulasi Pesawat Terbang
        li Simulasi Surat Izin Mengemudi
        li Menonton Video 3D
        li Bermain Game  

      section
        h2 Manfaat Virtual Reality

      section
        h2 Bidang Pendidikan
        p Virtual Reality juga bisa digunakan untuk ajang latihan praktik. Misalnya saja seperti yang dilakukan oleh Moveo Foundation pada tahun 2014. Bersama dengan dr. Gregory dan tim dari Oculus Rift, mereka membuat VR pertama yang berisi operasi.
        p Virtual Reality kemudian digunakan menjadi ajang latihan bagi para siswa dokter bedah untuk berlatih operasi.

      section
        h2 Bidang Olahraga
        p Penggunaan VR untuk olahraga tentu harus disesuaikan pula dengan alat olahraga yang digunakan.
        p Teknologi VR sering digunakan di beberapa cabang olahraga seperti: golf, atletik, ski, berspeda dan banyak lagi.
        p Tidak sebatas itu, ada pula yang menggunakan VR melalui simulasi pertandingan

      section
        h2 Luar Angkasa
        p Nasa sudah cukup lama memanfaatkan teknologi VR dalam melatih astronot sebelum diterbangkan keluar angkasa 
        p Nasa menampilkan lingkungan sebuah stasiun luar angkasa (virtual) yang akan menjadi tempat tinggal sementara para astronot selama disana.

      section
        h2 Bidang Otomotif
        p Tiga perusahaan mobil terkemuka yaitu Ford,Audi,dan Toyota telah memanfaatkan teknologi VR dalam merancang desain mobil-mobil buatan mereka.
        p Keuntungan dari hal ini adalah para produsen mobil tersebut dapat menguji coba desain mobil tersebut sebelum versi aslinya dibuat dan diuji coba.

      section
        h2 Efek Samping Penggunaan Virtual Reality 

      section
        h3 Virtual reality sendiri memiliki efek negatif yaitu Cybersickness. Cybersickness adalah gangguan yang sering dialami dalam penggunaan virtual reality. Penderita akan merasa ketegangan mata dan bahkan disertai rasa pusing.

      section
        h3 Tekadang penderita secara psikologis masih terbawa pada suasana semu walaupun sebenernya penderita sudah kembali ke dunia nyata. Jadi, gangguan ini tidak boleh dianggap remeh karena penderita biasanya susah kembali ke dunia nyata dan selalu terangan-angan dalam dunia semu.

      section
        h2 Cara Kerja Virtual Reality

      section
        h3 Cara kerja sistem virtual reality pada prinsipnya adalah seperti berikut. Pemakai melihat suatu dunia semu, yang sebenarnya berupa gambar-gambar yang bersifat dinamis. Melalui perangkat headphone atau speaker, pemakai dapat mendengar suara yang realistis.

      section
        h3 Melalui headset, glove dan walker, semua gerakan pemakai dipantau oleh sistem dan sistem memberikan reaksi yang sesuai sehingga pemakai seolah merasakan sedang berada pada situasi yang nyata, baik secara fisik maupun secara psikologis.

      section
        h2 PENUTUP
        
      section
        h2 TERIMAKASIH


    script(src='build/build.js')
